//- Params: info, spec, version

main
  section.info.container
    h1.title #{spec.name}
    if spec.description
      p.subtitle #{spec.description}
  
  each group in version.groups
    section.group(id=group.id)
      h2 #{group.name}
      .endpoint-list
        each endpoint in group.endpoints
          article(id=endpoint.id)
            pre
              span #{endpoint.method} 
              span :
              span #{endpoint.url}
              span  &ndash; 
              span #{endpoint.name}
